<html>
  <head>
    <title>Danny's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Danny's Blog</a></h1>
    </div>

    <div>
      <p>published: 17.03.2020, 18:22</p>
      <h2><a href="">My first post</a></h2>
      <p>
        Starting to get a grasps of the Django framework. It seems an intruiging
        concept and would do more with it in the future
      </p>
    </div>

    <div>
      <p>published: 16.03.2020, 18:24</p>
      <h2><a href="">My second post</a></h2>
      <p>I love Mia</p>
    </div>
  </body>
</html>
